:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  /* graphic design text */
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  /* photography text */
  --dark-blue: hsl(198, 62%, 26%);
  /* footer */
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --fraunces: Fraunces, serif;
  --barlow: Barlow, sans-serif;
  --bold-700: 700;
  --bold-900: 900;
  --footer-bg: hsl(167, 43%, 70%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
  /* outline: none; */
}

header {
  background-image: url("images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 2rem;
  height: 90%;
  color: var(--white);
}

.header-wrapper h1 {
  text-transform: uppercase;
  font-family: var(--fraunces);
  font-weight: var(--bold-900);
  letter-spacing: 0.5rem;
  text-align: center;
  padding: 5rem;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-arrow-down {
  height: 18vh;
}

h1 {
  font-size: 2.5em;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  margin-right: auto;
}

.menu {
  list-style-type: none;
  font-family: var(--barlow);
  display: flex;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-item {
  display: inline-block;
  margin: 1rem 1.25rem;
  color: var(--dark-grayish-blue);
}

.hamburger-lines {
  display: block;
  height: 28px;
  width: 30px;
}
.menu-item-items:active {
  color: var(--very-dark-desaturated-blue);
}

/* ripple effect */

.menu-item-cta {
  border-radius: 2rem;
  border: none;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-family: var(--fraunces);
  width: 40%;
  background-color: var(--yellow);
  color: inherit;
  background-position: center;
  transition: background 0.5s, transform 0.05s ease-in;
}

.menu-item-cta:hover {
  background: var(--yellow)
    radial-gradient(circle, transparent 1%, var(--yellow) 1%) center/15000%;
}
.menu-item-cta:active {
  background-color: var(--white);
  background-size: 100%;
  transition: background 0s;
}

.line {
  height: 0.15rem;
  margin: 0.5rem auto;
  width: 100%;
  border-radius: 10px;
  display: block;
  background-color: var(--white);
  transition: transform 0.1s ease-out;
}

.line1 {
  margin-top: 0;
}

nav input[type="checkbox"] {
  display: none;
}

.hamburger:checked ~ .menu {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--very-dark-desaturated-blue);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 120px;
  /* bottom: 0; */
  text-align: center;
  width: 82%;
  height: 50%;
}

.hamburger:checked ~ .menu:before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 40px solid var(--white);
  border-left: 40px solid transparent;
  position: absolute;
  top: -40px;
  right: 0;
}

nav input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

nav input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: translateY(10px) rotate(45deg);
}

nav input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

nav input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: translateY(-10px) rotate(-45deg);
}

.testimonials img {
  border-radius: 50%;
}

/* Footer */

footer {
  background-color: var(--footer-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 0;
}

.footer-logo {
  -webkit-filter: invert(53%) sepia(7%) saturate(2574%) hue-rotate(118deg)
    brightness(89%) contrast(86%);
  filter: invert(53%) sepia(7%) saturate(2574%) hue-rotate(118deg)
    brightness(89%) contrast(86%);
  margin: auto;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  color: var(--dark-desaturated-cyan);
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

/*media queries*/

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .header-wrapper h1 {
    padding: 1rem;
  }
}
@media screen and (min-width: 640px) {
  header {
    background-image: url("images/desktop/image-header.jpg");
    background-size: cover;
  }

  .icon-arrow-down {
    height: 10vh;
  }

  .hamburger-lines {
    display: none;
  }

  .menu {
    list-style-type: none;
    font-family: var(--barlow);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .menu-item-items {
    color: var(--white);
    position: relative;
  }

  .menu-item-cta {
    background-color: var(--white);
    color: var(--very-dark-desaturated-blue);
  }

  .menu-item-cta:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--dark-blue);
    /* transform: translateY(-0.25em); */
  }

  .menu-item-cta:active {
    box-shadow: none;
    transform: translateY(0.25em);
  }
  .menu-item-items:hover {
    background-color: inherit;
    border: none;
  }

  .menu-item-items:hover::before {
    transform: scale(1, 1);
  }

  .menu-item-items::before {
    content: "";
    position: absolute;
    top: 1.5rem;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
    border-bottom: 4px solid var(--yellow);
    transform: scale(0, 1);
  }
}
