/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  /* graphic design text */
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  /* photography text */
  --dark-blue: hsl(198, 62%, 26%);
  /* footer */
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --fraunces: Fraunces, serif;
  --barlow: Barlow, sans-serif;
  --bold-700: 700;
  --bold-900: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  /* font-size: 112.5%; */
  height: 100vh;
}

a {
  text-decoration: none;
  /* outline: none; */
}

a:visited {
  color: inherit;
}

header {
  background-image: url("images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-size: 100% 75%; */
  padding: 2rem;
  height: 90%;
  color: var(--white);
}

header h1 {
  text-transform: uppercase;
  font-family: var(--fraunces);
  font-weight: var(--bold-900);
  letter-spacing: 0.5rem;
  text-align: center;
  padding-top: 5rem;
}

/* .icon-arrow-down {
  display: block;
  margin: 11rem auto;
} */

.icon-arrow {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
}

.icon-arrow-down {
  vertical-align: middle;
}

nav {
  display: flex;
  /* align-items: center; */
}

.logo {
  display: block;
  margin-right: auto;
  align-self: center;
}
.menu {
  list-style-type: none;
  font-family: var(--barlow);
  display: flex;
  flex-direction: row;
}

.menu-item {
  display: inline-block;
  margin: auto 1.25rem;
}

.menu-item-cta {
  background-color: var(--white);
  color: var(--very-dark-desaturated-blue);
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}

.hamburger-lines {
  display: none;
  height: 28px;
  width: 30px;
}

.line {
  height: 0.15rem;
  margin: 0.5rem auto;
  width: 100%;
  border-radius: 10px;
  display: block;
  background-color: var(--white);
  transition: transform 0.1s ease-out;
}

.line1 {
  margin-top: 0;
}

nav input[type="checkbox"] {
  display: none;
}

@media screen and (max-width: 480px) {
  header {
    background-image: url("images/mobile/image-header.jpg");
    background-size: 100% 100%;
    height: 90%;
  }

  nav .hamburger-lines {
    display: block;
  }
  .menu {
    display: none;
  }

  #triangle-bottomright {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 100px solid var(--white);
    border-left: 100px solid transparent;
  }

  .hamburger:checked ~ .menu {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    color: var(--very-dark-desaturated-blue);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    width: 83%;
    height: 65%;
  }

  .hamburger:checked ~ .menu:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 100px solid var(--white);
    border-left: 100px solid transparent;
    position: absolute;
    top: -31px;
    right: 0;
  }

  nav input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  nav input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: translateY(10px) rotate(45deg);
  }

  nav input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  nav input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: translateY(-10px) rotate(-45deg);
  }
}
